.dealers {
  margin: 30px 100px;
}

.dealers__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-bottom: 2px #363535 solid;
  margin: 0 0 15px;
}

.dealers__container {
  display: flex;
  column-gap: 30px;
}

.dealers__subtitle {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  padding: 0;
}

.dealers__item {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  list-style-type: none;
  margin: 10px 0;
}

.dealers__link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
