.Auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 100%;
    padding: 24px;
}

.Auth__Title {
    color: rgb(56, 164, 58);
    font-size: 25px;
    font-weight: 600;
}

.Auth__Form {
    width: 500px;
}